body {
  background-color: black;
  font-family: arial;
  color: white;
}

h1 {
  color: grey;
  font-family: verdana;
}

header {
  font-size: 80%;
  text-align: left;
}

footer {
  font-family: arial;
  font-size: 0.7rem;
  text-align: left;
}
button {
  margin-top: 5%;
  margin-bottom: 5%;
}

.maindiv {
  background-color: white;
  font-size: 1rem;
  width: 300px;
  padding: 5px 20px 20px 20px;
  border-radius: 25px;
  color: black;
  position: absolute;
  margin: auto;
  top: 10%;
  right: 0;
  left: 0;
}

.inputField {
  font-size: 0.9rem;
  text-align: left;
  margin: 5% 10% 5% 10%;
  line-height: 200%;
}

.highLight {
  font-weight: 600;
}
#resultField {
  font-size: 0.9rem;
  text-align: left;
  margin: 5% 0% 5% 0%;
  line-height: 200%;
}

.valMessage {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  color: #f7723d;
}
